<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<nav class="navbar navbar-expand-lg navbar-fnt navbar-dark bg-dark">
  <div class="navbar-header">
    <img src='/assets/images/movie-beast-navbar.png' height='55' width='200' style='object-fit: contain'>
  </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <!-- <li class="nav-item">
        <a class="nav-link" routerLink="/Cities" routerLinkActive="active">
          <i class="material-icons">
            location_city</i>
          <h4 class="inline-block">Cities</h4>
        </a>
      </li> -->
      <li class="nav-item">
        <a class="nav-link" routerLink="/movies" routerLinkActive="active">
          <i class="material-icons">movie</i>
          <h4 class="d-inline">Movies</h4>
        </a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link" routerLink="/Shows" routerLinkActive="active">
          <i class="material-icons">tv</i>
          <h4 class="d-inline">Shows</h4>
        </a>
      </li> -->
      <li class="nav-item">
        <a class="nav-link" routerLink="/theaters" routerLinkActive="active">
          <i class="material-icons">event_seat</i>
          <h4 class="d-inline">Theaters</h4>
        </a>
      </li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/user" routerLinkActive="active">
          <i class="material-icons">
            account_circle
          </i>
          <h4 class="d-inline">Account</h4>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/basket" routerLinkActive="active">
          <i class="material-icons">
            shopping_cart </i>
          <h4 class="d-inline">Basket</h4>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="cursor:pointer" *ngIf="_authService.loggedIn()" (click)="_authService.logoutUser()">
          <i class="material-icons">sentiment_dissatisfied</i>
          <h4 class="d-inline">Log Out</h4>
        </a>
      </li>
    </ul>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>


<!-- <a class="nav-link" *ngIf="!_authService.loggedIn()" routerLink="/login" routerLinkActive="active">Login</a>
    <a class="nav-link" *ngIf="!_authService.loggedIn()" routerLink="/register" routerLinkActive="active">Register</a> -->
<!-- <a class="nav-link" style="cursor:pointer" *ngIf="_authService.loggedIn()" (click)="_authService.logoutUser()" >LogOut</a>  -->

<!-- <a class="nav-link" style="cursor:pointer" *ngIf="_authService.loggedIn()" (click)="_authService.logoutUser()" >LogOut</a>  -->