<div class="container">
  <div class="col-md-12">
    <h4 class="page-head-line">Manage Theaters</h4>

  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading" style="background-color:rgb(44, 196, 70)">
          <strong>Add a Theater </strong>
        </div>
        <div class=" panel-body">
          <form>
            <div class="form-group">
              <input [(ngModel)]="createNewTheater.theatreName" class="form-control" id="theatreName" name="theatreName"
                     placeholder="Theater Name"
                     required type="text">
            </div>
            <div class="form-group">
              <input [(ngModel)]="createNewTheater.theatreAddress" class="form-control" id="theatreAddress"
                     name="theatreAddress"
                     placeholder="Theater Address"
                     required type="text">
            </div>
            <div class="form-group">
              <p-dropdown [(ngModel)]="createNewTheater.city" [options]="citiesList" name="theatreCity"
                          placeholder="select a city"></p-dropdown>
            </div>
            <button (click)="createTheater()" class="btn btn-default" type="submit">Submit</button>
          </form>
        </div>
      </div>


      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading" style="background-color:skyblue">
            <strong>Modify a Theater</strong>
          </div>
          <div class="panel-body">
            <form>
              <div class="form-group">
                <p-dropdown [(ngModel)]="modifyThisTheatre" [options]="theatreListModify" name="theatreId"
                            placeholder="select a theatre to modify"></p-dropdown>
              </div>
              <div class="form-group">
                <input [(ngModel)]="modifyThisTheatre.theatreName" class="form-control" id="theatreName"
                       name="theatreName"
                       placeholder="Theater Name"
                       required type="text">
              </div>
              <div class="form-group">
                <input [(ngModel)]="modifyThisTheatre.theatreAddress" class="form-control" id="theatreAddress"
                       name="theatreAddress" placeholder="Theater Address"
                       required type="text">
              </div>
              <div class="form-group">
                <p-dropdown [(ngModel)]="modifyThisTheatre.city" [options]="citiesList" name="theatreCity"
                            placeholder="select a city"></p-dropdown>
              </div>
              <button (click)="modifyTheatre()" class="btn btn-default" type="submit">Submit</button>

            </form>
          </div>
        </div>
      </div>
      <br>
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading" style="background-color: red">
            <strong> Delete a Theater </strong>
          </div>
          <div class="panel-body">
            <form>
              <div class="form-group">
                <p-dropdown [(ngModel)]="deleteThisTheatre.theatreId" [options]="theatreList" name="theatreId"
                            placeholder="select a theatre to delete"></p-dropdown>
              </div>
              <button (click)="deleteTheatre()" class="btn btn-default" type="submit">Submit</button>
            </form>
            <button class="btn btn-default1" routerLink="/admin" routerLinkActive="active" type="submit">Go Back
              Instead
            </button>
          </div>
        </div>
      </div>
