<div class="container">
  <div class="col-md-12">
    <h4 class="page-head-line">Manage Cities</h4>

  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading" style="background-color:rgb(44, 196, 70)">
          <strong>Add a City </strong>
        </div>
        <div class=" panel-body">
          <form>
            <div class="form-group">
              <input type="text" class="form-control " [(ngModel)]="newCity.cityName" id="name" placeholder="City Name" name="name" required>

            </div>
            <button type="submit" class="btn btn-default" (click)="createCity()">Submit</button>
          </form>
        </div>
      </div>
    </div>
    <br>

    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading" style="background-color:skyblue">
          <strong>Modify a City </strong>
        </div>
        <div class="panel-body">
          <form>
            <div class="form-group">
              <p-dropdown name="cityId" [options]="citiesList" [(ngModel)]="modifyThisCity.cityId" placeholder="select a city to modify"></p-dropdown>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" [(ngModel)]="modifyThisCity.cityName" id="cityName" placeholder="City Name" name="cityName">
            </div>
            <button type="submit" class="btn btn-default" (click)="modifyCity()">Submit</button>
          </form>
        </div>
      </div>
    </div>
    <br>
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading" style="background-color: red">
          <strong> Delete a City </strong>
        </div>
        <div class="panel-body">
          <form>
            <div class="form-group">
              <p-dropdown name="cityId" [options]="citiesList" [(ngModel)]="deleteThisCity.cityId" placeholder="select a city to delete"></p-dropdown>
            </div>
            <button type="submit" class="btn btn-default" (click)="deleteCity()">Submit</button>
          </form>
          <button type="submit" class="btn btn-default1" routerLink="/admin" routerLinkActive="active">Go Back Instead</button>
        </div>
      </div>
    </div>
  </div>
</div>