<div class="card text-white bg-dark mb-3" style="max-width: 35rem;">
  <div class="card-header text-white mb-3">User Profile</div>
  <div class="card-body">
    <img alt="User Pic" class="center" id="profile-image1" src="/assets/images/female_coder.jpg">
    <ul class="list-group list-group-flush">
      <li class="list-group-item  text-white bg-secondary mb-3">
                    <span>
                        <strong>User Id :</strong> {{user$ && user$.userId}} </span>
      </li>
      <li class="list-group-item  text-white bg-secondary mb-3">
                    <span>
                        <strong>Full Name:</strong> {{user$ && user$.fullName}} </span>
      </li>
      <li class="list-group-item  text-white bg-secondary mb-3">
                    <span>
                        <strong> E-mail: </strong> {{user$ && user$.email}} </span>
      </li>
      <li class="list-group-item text-white bg-secondary mb-3">
                    <span *ngIf="user$ && user$.enabled">
                        <strong> Account Status: </strong>
                        <span> Good Standing</span>
                    </span>
        <span *ngIf="user$ && !user$.enabled">
                        <strong> Account Status: </strong>
                        <span> Account Disabled</span>
                    </span>
      </li>
      <li class="list-group-item text-white bg-secondary mb-3">
                    <span *ngIf="user$ && user$.role=='ROLE_USER'">
                        <strong> Role: </strong>
                        <span> User </span>
                    </span>
        <span *ngIf="user$ && user$.role=='ROLE_ADMIN'">
                        <strong> Role: </strong>
                        <span> Admin </span>
                    </span>
      </li>

      <a class="button1" routerLink="/bookings" routerLinkActive="active" style="vertical-align:middle">
        <span> Manage Bookings </span>
      </a>

      <span *ngIf="user$ && user$.role=='ROLE_ADMIN'">
                    <a class="button1" routerLink="/admin" routerLinkActive="active" style="vertical-align:middle">
                        <span> Admin Panel </span>
                    </a>
                </span>


    </ul>
  </div>
</div>
<div class="circle1"></div>
<div class="circle2"></div>
<div class="circle3"></div>
<div class="circle4"></div>
<div class="circle5"></div>
<div class="circle6"></div>
<div class="circle7"></div>
<div class="circle8"></div>
