<div class="container">
  <div class="col-md-12">
    <h4 class="page-head-line">Manage Theaters</h4>

  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading" style="background-color:rgb(44, 196, 70)">
          <strong>Add a Theater </strong>
        </div>
        <div class=" panel-body ">
          <form>
            <div class="form-group ">
              <input type="theaterId " class="form-control " [(ngModel)]="createNewTheater.id" id="id" placeholder="Theater Id" name="id"
                required>
            </div>
            <div class="form-group ">
              <input type="theaterName " class="form-control " [(ngModel)]="createNewTheater.name" id="name" placeholder="Theater Name"
                name="name" required>
            </div>
            <div class="form-group ">
              <input type="theaterAdress " class="form-control " [(ngModel)]="createNewTheater.address" id="address" placeholder="Theater Address"
                name="address" required>
            </div>
            <div class="form-group ">
              <input type="theaterCity " class="form-control " [(ngModel)]="createNewTheater.city" id="city" placeholder="Theater City"
                name="theater" required>
            </div>
            <button type="submit " class="btn btn-default " (click)="createNewTheater()">Submit</button>
          </form>
        </div>
      </div>


      <div class="col-md-12 ">
        <div class="panel panel-default ">
          <div class="panel-heading" style="background-color:skyblue">
            <strong>Modify a Theater </strong>
          </div>
          <div class="panel-body ">
            <form>
              <div class="form-group ">
                <input type="theaterId " class="form-control " [(ngModel)]="modifyTheater.id" id="id" placeholder="Theater Id" name="id"
                  required>
              </div>
              <div class="form-group ">
                <input type="theaterName " class="form-control " [(ngModel)]="modifyTheater.name" id="name" placeholder="Theater Name" name="name"
                  required>
              </div>
              <div class="form-group ">
                <input type="theaterAdress " class="form-control " [(ngModel)]="modifyTheater.address" id="address" placeholder="Theater Address"
                  name="address" required>
              </div>
              <div class="form-group ">
                <input type="theaterCity " class="form-control " [(ngModel)]="modifyTheater.city" id="city" placeholder="Theater City" name="theater"
                  required>
              </div>
              <button type="submit " class="btn btn-default " (click)="modifyTheater()">Submit</button>

            </form>
          </div>
        </div>
      </div>
      <br>
      <div class="col-md-12 ">
        <div class="panel panel-default ">
          <div class="panel-heading" style="background-color: red ">
            <strong> Delete a Theater </strong>
          </div>
          <div class="panel-body ">
            <form>
              <div class="form-group ">
                <input type="theaterId " class="form-control " [(ngModel)]="deleteTheater.id" id="id" placeholder="Theater Id" name="id"
                  required>
              </div>
              <button type="submit " class="btn btn-default " (click)="deleteTheater()">Submit</button>
              <button type="submit " class="btn btn-default1 " routerLink="/admin" routerLinkActive="active">Go Back Instead</button>
            </form>
          </div>
        </div>
      </div>