<div class="container">
  <div class="col-md-12">
    <h4 class="page-head-line">Manage Users</h4>

  </div>
  <div class="row">
    <div class="col-md-12">

      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading" style="background-color:skyblue">
            <strong>Modify a User </strong>
          </div>
          <div class="panel-body">
            <form>

              <div class="form-group">
                <p-dropdown [(ngModel)]="modifyThisUser" [options]="userListModify"
                            name="userId" placeholder="select a user to modify"></p-dropdown>
              </div>
              <div class="form-group">
                <input [(ngModel)]="modifyThisUser.email" class="form-control" id="modEmail"
                       name="email" placeholder="User's Email" required
                       type="email">
              </div>
              <div class="form-group">
                <label for="modEnabled">Enabled:</label>
                <input [(ngModel)]="modifyThisUser.enabled" class="form-control" id="modEnabled"
                       name="enabled" placeholder="User Enabled" required style="display: inline"
                       type="checkbox">
              </div>
              <div class="form-group">
                <input [(ngModel)]="modifyThisUser.fullName" class="form-control" id="modFullName"
                       name="fullName" placeholder="User Full Name" required
                       type="text">
              </div>

              <div class="form-group">
                <input [(ngModel)]="modifyThisUser.role" class="form-control" id="modRole"
                       name="role" placeholder="User's Role" required type="text">
              </div>
              <button (click)="modifyUser()" class="btn btn-default" type="submit">Submit</button>
            </form>
          </div>
        </div>
      </div>
      <br>
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading" style="background-color: red">
            <strong> Delete a User </strong>
          </div>
          <div class="panel-body">
            <form>
              <div class="form-group">
                <p-dropdown [(ngModel)]="deleteThisUser.userId" [options]="userList" name="userId"
                            placeholder="select a user to delete"></p-dropdown>
              </div>
              <button (click)="deleteUser()" class="btn btn-default" type="submit">Submit</button>
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading" style="background-color:blueviolet">
            <strong> Change User's Password </strong>
          </div>
          <div class="panel-body">
            <form>
              <div class="form-group">
                <p-dropdown [(ngModel)]="passwordThisUser.userId" [options]="userList" name="userId"
                            placeholder="select a user"></p-dropdown>
              </div>
              <button (click)="resetPassword()" class="btn btn-default" type="submit">Submit</button>
            </form>
          </div>
        </div>
      </div>
      <button class="btn btn-default1" routerLink="/admin" routerLinkActive="active" type="submit">Go Back Instead
      </button>

    </div>
