<div class="container">
  <div class="col-md-12">
    <h4 class="page-head-line">Manage Bookings</h4>

  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading" style="background-color:rgb(44, 196, 70)">
          <strong>Add a Booking </strong>
        </div>
        <div class=" panel-body">
          <form>
            <div class="form-group">
              <input [(ngModel)]="createNewBooking.seat" class="form-control" id="seat" name="seatId"
                     placeholder="Booking Seat" required
                     type="id">
            </div>
            <div class="form-group">
              <input [(ngModel)]="createNewBooking.bookingCost" class="form-control" id="bookingCost" name="bookingCost"
                     placeholder="Booking Cost"
                     required type="number">
            </div>
            <div class="form-group">
              <input [(ngModel)]="createNewBooking.user" class="form-control" id="user" name="user"
                     placeholder="Booking User" required
                     type="text">
            </div>
            <button (click)="createNewBooking()" class="btn btn-default" type="submit">Submit</button>
          </form>
        </div>
      </div>


      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading" style="background-color:skyblue">
            <strong>Modify a Booking </strong>
          </div>
          <div class="panel-body">
            <form>
              <div class="form-group">
                <input [(ngModel)]="modifyBooking.bookingId" class="form-control" id="bookingId" name="bookingId"
                       placeholder="Booking ID" required
                       type="id">
              </div>
              <div class="form-group">
                <input [(ngModel)]="modifyBooking.seat" class="form-control" id="seat" name="seat"
                       placeholder="Booking Seat" required type="id">
              </div>
              <div class="form-group">
                <input [(ngModel)]="modifyBooking.bookingCost" class="form-control" id="bookingCost" name="bookingCost"
                       placeholder="Booking Cost"
                       required type="number">
              </div>
              <div class="form-group">
                <input [(ngModel)]="modifyBooking.user" class="form-control" id="user" name="user"
                       placeholder="Booking User" required
                       type="text">
              </div>
              <button (click)="modifyBooking()" class="btn btn-default" type="submit">Submit</button>

            </form>
          </div>
        </div>
      </div>
      <br>
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading" style="background-color: red">
            <strong> Delete a Booking </strong>
          </div>
          <div class="panel-body">
            <form>
              <div class="form-group">
                <input [(ngModel)]="deleteBooking.bookingId" class="form-control" id="bookingId" name="bookingId"
                       placeholder="Booking Id" required
                       type="id">
              </div>
              <button (click)="deleteBooking()" class="btn btn-default" type="submit">Submit</button>
            </form>
            <button class="btn btn-default1" routerLink="/admin" routerLinkActive="active" type="submit">Go Back
              Instead
            </button>
          </div>
        </div>
      </div>
