<div class="container">
  <div class="col-md-12">
    <h4 class="page-head-line">Manage Movies</h4>

  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading" style="background-color:rgb(44, 196, 70)">
          <strong>Add a Movie </strong>
        </div>
        <div class=" panel-body ">
          <form>
            <div class="form-group ">
              <input type="movieId " class="form-control " [(ngModel)]="createNewMovie.id" id="id" placeholder="Movie Id" name="id" required>
            </div>
            <div class="form-group ">
              <input type="movieName " class="form-control " [(ngModel)]="createNewMovie.name" id="name" placeholder="Movie Name" name="name"
                required>
            </div>
            <div class="form-group ">
              <input type="movieDescription " class="form-control " [(ngModel)]="createNewMovie.description" id="description" placeholder="Movie description"
                name="description" required>
            </div>
            <div class="form-group ">
              <input type="movieduration " class="form-control " [(ngModel)]="createNewMovie.duration" id="initialseats" placeholder="Movie duration"
                name="duration" required>
            </div>

            <div class="form-group ">
              <input type="movieTrailer " class="form-control " [(ngModel)]="createNewMovie.trailer" id="trailer" placeholder="Movie Trailer"
                name="trailer" required>
              <button type="submit " class="btn btn-default " (click)="createNewMovie()">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <br>

    <div class="col-md-12 ">
      <div class="panel panel-default ">
        <div class="panel-heading" style="background-color:skyblue">
          <strong>Modify a Movie </strong>
        </div>
        <div class="panel-body ">
          <form>
            <div class="form-group ">
              <input type="movieId " class="form-control " [(ngModel)]="modifyMovie.id" id="id" placeholder="Movie Id" name="id" required>
            </div>
            <div class="form-group ">
              <input type="movieName " class="form-control " [(ngModel)]="modifyMovie.name" id="name" placeholder="Movie Name" name="name"
                required>
            </div>
            <div class="form-group ">
              <input type="movieDescription " class="form-control " [(ngModel)]="modifyMovie.description" id="description" placeholder="Movie description"
                name="description" required>
            </div>
            <div class="form-group ">
              <input type="movieduration " class="form-control " [(ngModel)]="modifyMovie.duration" id="duration" placeholder="Movie Duration"
                name="duration" required>
            </div>

            <div class="form-group ">
              <input type="movieTrailer " class="form-control " [(ngModel)]="modifyMovie.trailer" id="trailer" placeholder="Movie Trailer"
                name="trailer" required>
              <button type="submit " class="btn btn-default " (click)="modifyMovie()">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <br>
    <div class="col-md-12 ">
      <div class="panel panel-default ">
        <div class="panel-heading" style="background-color: red ">
          <strong> Delete a Movie </strong>
        </div>
        <div class="panel-body ">
          <form>
            <div class="form-group ">
              <input type="movieId " class="form-control " [(ngModel)]="deleteMovie.id" id="id" placeholder="Movie Id" name="id" required>
            </div>

            <button type="submit " class="btn btn-default " (click)="deleteMovie()">Submit</button>
            <button type="submit " class="btn btn-default1 " routerLink="/admin" routerLinkActive="active">Go Back Instead</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>