<div class="foo">
  <span class="letter" data-letter="M">M</span>
  <span class="letter" data-letter="O">O</span>
  <span class="letter" data-letter="V">V</span>
  <span class="letter" data-letter="I">I</span>
  <span class="letter" data-letter="E">E</span>
  <span class="letter" data-letter="S">S</span>
  <div class="box5 shadow5">
    <p class="intro ">Comedy? Horror? Adventure? We got you covered! Check out some of the latest hot movies below and
      secure your spot.</p>
  </div>
</div>

<link crossorigin="anonymous" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css"
      integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt"
      rel="stylesheet">

<ul [@listStagger]="movies$">
  <!-- <tr *ngFor="let movie of movies$;" [id]="movie.movieId"> -->
  <div class="col-md-12">
    <div class="row card-group">
      <div *ngFor="let movie of movies$;" class="col-md-4">
        <div class="card">
          <div class="card-header">
            <img alt="Card image" class="card-img" src='/assets/images/MoviesById/{{movie.movieId}}.jpg'>
          </div>
          <div class="card-body">
            <h1 class="card-title">{{movie.movieName}}</h1>
            <div class="container">
              <div class="row">
                <div class="col-4 metadata">
                  <i aria-hidden="true" class="fa fa-clock"></i>
                  <p>{{movie.movieDurationInMinutes}}</p>
                </div>
                <div class="col-8 metadata">
                  <i aria-hidden="true" class="fa fa-calendar"></i>
                  <p>{{movie.movieReleaseDate}}</p>

                </div>
              </div>
            </div>
            <div class="scroll-box">
              <p class="card-text">{{movie.movieDescription}}</p>
            </div>
            <a class="trailer-preview" href='https://www.youtube.com/watch?v={{movie.trailerURL}}' target="new">
              <i aria-hidden="true" class="fa fa-play"></i>
            </a>
          </div>
          <a class="button" routerLink="/movieShow/{{movie.movieId}}" routerLinkActive="active"
             style="vertical-align:middle">
            <span> Shows </span>
          </a>


        </div>
      </div>
    </div>
  </div>
</ul>
