<div class="container">
  <div class="col-md-12">
    <h4 class="page-head-line">Manage Shows</h4>

  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading" style="background-color:rgb(44, 196, 70)">
          <strong>Add a Show </strong>
        </div>
        <div class=" panel-body">
          <form>
            <div class="form-group">
              <input [(ngModel)]="createNewShow.movie" class="form-control" id="movie" name="movie"
                     placeholder="Show's Movie" required
                     type="text">
            </div>

            <div class="form-group">
              <input [(ngModel)]="createNewShow.initialSeats" class="form-control" id="initialSeats" name="initialSeats"
                     placeholder="Show's Initial Seats"
                     required type="number">
            </div>
            <div class="form-group">
              <input [(ngModel)]="createNewShow.availableSeats" class="form-control" id="availableSeats"
                     name="availableSeats"
                     placeholder="Show's Available Seats"
                     required type="number">
            </div>
            <div class="form-group">
              <input [(ngModel)]="createNewShow.showDate" class="form-control" id="showDate" name="showDate"
                     placeholder="Show's Date"
                     required type="datetime-local">
            </div>
            <button (click)="createNewShow()" class="btn btn-default" type="submit">Submit</button>
          </form>
        </div>
      </div>
    </div>
    <br>

    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading" style="background-color:skyblue">
          <strong>Modify a Show </strong>
        </div>
        <div class="panel-body">
          <form>
            <div class="form-group">
              <input [(ngModel)]="modifyShow.showId" class="form-control" id="showId" name="showId"
                     placeholder="Show's Id"
                     required type="id">
            </div>
            <div class="form-group">
              <input [(ngModel)]="modifyShow.movie" class="form-control" id="movie" name="movie"
                     placeholder="Show 's Movie" required
                     type="text">
            </div>
            <div class="form-group">
              <input [(ngModel)]="modifyShow.initialSeats" class="form-control" id="initialSeats" name="initialSeats"
                     placeholder="Show's Initial Seats"
                     required type="number">
            </div>
            <div class="form-group">
              <input [(ngModel)]="modifyShow.availableSeats" class="form-control" id="availableSeats"
                     name="availableSeats"
                     placeholder="Show's Available Seats"
                     required type="number">
            </div>
            <div class="form-group">
              <input [(ngModel)]="modifyShow.showDate" class="form-control" id="showDate" name="showDate"
                     placeholder="Show's Date"
                     required type="datetime-local">
            </div>
            <button (click)="modifyShow()" class="btn btn-default" type="submit">Submit</button>
          </form>
        </div>
      </div>
    </div>
    <br>
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading" style="background-color: red">
          <strong> Delete a Show </strong>
        </div>
        <div class="panel-body">
          <form>
            <div class="form-group">
              <input [(ngModel)]="deleteShow.showId" class="form-control" id="showId" name="showId"
                     placeholder="Show's Id"
                     required type="id">
            </div>
            <button (click)="deleteShow()" class="btn btn-default" type="submit">Submit
            </button>
          </form>
          <button class="btn btn-default1" routerLink="/admin" routerLinkActive="active" type="submit">
            Go Back Instead
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
