<div class="bg"> </div>
<div class ="LoginSection">
  <div class="info">
    <img src='/assets/images/loginSignupLogo.png' style='height: 100%; width: 100%; object-fit: contain'>
  </div>
  <form action="#" method="POST" class="signupForm" name="signupform">
    <h2>Login</h2>
    <ul class="noBullet">
      <li>
        <label for="email"></label>
        <input type="text" class="inputFields"[(ngModel)]="loginUserData.username" placeholder="Email" id="username" name="username" required>
        </li> 
      <li>
        <label for="password"></label>
        <input type="password" class="inputFields" [(ngModel)]="loginUserData.password" id="password" placeholder="Password" name="password" required>

      </li>
        <li id="center-btn">
        <input type="submit" id="join-btn" (click)="loginUser()" name="LogIn" alt="LogIn" value="Log In"> </li>
        <li id="center-btn">
          <input type="submit" id="join-btn1" (click)="navigate()" name="Register" alt="Register" value="Register">
      </li>
    </ul>
  </form>
</div>





<!-- <div class="py-5">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <span class="anchor" id="formLogin"></span>

      <!-- form card login -->
      <!-- <div class="card rounded-0">
        <div class="card-header">
          <h3 class="mb-0">Login</h3>
        </div>
        <div class="card-body">
          <form class="form">
            <div class="form-group">
              <label for="uname1">email</label>
              <input type="text" class="form-control rounded-0" [(ngModel)]="loginUserData.username" name="username" required>
            </div>
            <div class="form-group">
              <label>Password</label>
              <input type="password" class="form-control rounded-0" [(ngModel)]="loginUserData.password" name="password" required>
            </div>
            <button type="button" (click)="loginUser()" class="btn btn-success float-right">Login</button>
          </form>
        </div> -->
        <!--/card-block-->
      <!-- </div> -->
      <!-- /form card login -->

   <!-- </div>
 

  </div>
</div> --> 

