<div class="container">
  <div class="col-md-12">
    <h4 class="page-head-line">Manage Seats</h4>

  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading" style="background-color:rgb(44, 196, 70)">
          <strong>Add a Seat </strong>
        </div>
        <div class=" panel-body">
          <form>
            <div class="form-group">
              <input [(ngModel)]="createNewSeat.show" class="form-control" id="show" name="show"
                     placeholder="Seat's Show" required
                     type="text">
            </div>
            <div class="form-group">
              <input [(ngModel)]="createNewSeat.seatPaid" class="form-control" id="seatPaid" name="seatPaid"
                     placeholder="Seat Paid" required
                     type="checkbox">
            </div>
            <div class="form-group">
              <input [(ngModel)]="createNewSeat.seatReserved" class="form-control" id="seatReserved" name="seatReserved"
                     placeholder="Seat's Reserved"
                     required type="checkbox">
            </div>
            <div class="form-group">
              <input [(ngModel)]="createNewSeat.booking" class="form-control" id="booking" name="booking"
                     placeholder="Seat's Booking Id"
                     required type="text">
            </div>
            <div class="form-group">
              <input [(ngModel)]="createNewSeat.user" class="form-control" id="user" name="user" placeholder="Seat User"
                     required type="text">
            </div>
            <button (click)="createNewSeat()" class="btn btn-default" type="submit">Submit</button>
          </form>
        </div>
      </div>


      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading" style="background-color:skyblue">
            <strong>Modify a Seat </strong>
          </div>
          <div class="panel-body">
            <form>
              <div class="form-group">
                <input [(ngModel)]="modifySeat.seatId" class="form-control" id="seatId" name="seatId"
                       placeholder="Seat's Id" required type="id">
              </div>
              <div class="form-group">
                <input [(ngModel)]="createNewSeat.show" class="form-control" id="show" name="show"
                       placeholder="Seat's Show" required
                       type="text">
              </div>
              <div class="form-group">
                <input [(ngModel)]="createNewSeat.seatPaid" class="form-control" id="seatPaid" name="seatPaid"
                       placeholder="Seat Paid" required
                       type="checkbox">
              </div>
              <div class="form-group">
                <input [(ngModel)]="createNewSeat.seatReserved" class="form-control" id="seatReserved"
                       name="seatReserved"
                       placeholder="Seat's Reserved"
                       required type="checkbox">
              </div>
              <div class="form-group">
                <input [(ngModel)]="createNewSeat.booking" class="form-control" id="booking" name="booking"
                       placeholder="Seat's Booking Id"
                       required type="text">
              </div>
              <div class="form-group">
                <input [(ngModel)]="createNewSeat.user" class="form-control" id="user" name="user"
                       placeholder="Seat User" required type="text">
              </div>
              <button (click)="modifySeat()" class="btn btn-default" type="submit">Submit</button>
            </form>
          </div>
        </div>
      </div>
      <br>
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading" style="background-color: red">
            <strong> Delete a Seat </strong>
          </div>
          <div class="panel-body">
            <form>
              <div class="form-group">
                <input [(ngModel)]="deleteSeat.seatId" class="form-control" id="seatId" name="seatId"
                       placeholder="Seat's Id" required type="id">
              </div>
              <button (click)="deleteSeat()" class="btn btn-default" type="submit">Submit</button>
            </form>
            <button class="btn btn-default1" routerLink="/admin" routerLinkActive="active" type="submit">Go Back
              Instead
            </button>
          </div>
        </div>
      </div>
