<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<ul [@listStagger]="basket$">
  <div *ngIf="basket$.length > 0" class="col-md-12 no-padding lib-item" data-category="ui">
    <button class="btn btn-primary">Proceed to Checkout</button>
    <div class="lib-panel">
      <div class="row box-shadow">
        <div class="col-md-6">
          <div class="lib-row lib-desc">
            <h3>Reservation Details</h3>
            <ul *ngFor='let item of basket$;'>
              <div class="col-md-6">
                <img class="lib-img" src='/assets/images/MoviesById/{{item.show.movie.movieId}}.jpg'>
              </div>
              <div class="lib-row lib-header">
                {{item.show.movie.movieName}}
                <div class="lib-header-seperator"></div>
              </div>
              <div class="card bg-light mb-3" style="max-width: 28rem;">
                <div class="card-body">
                  <p class="card-text">
                    <i class=" material-icons ">calendar_today </i>Date : {{item.show.showDate}}
                  </p>
                  <p class="card-text">
                    <i class=" material-icons ">attach_money </i>Price : {{item.show.showCost}}
                  </p>
                  <p class="card-text">
                    <i class="material-icons">
                      event_seat
                    </i> Seat ID: {{item.seatId}}
                  </p>
                </div>
                <button class="btn btn-primary" routerLink="/basket/{{item.seatId}}">Remove</button>
              </div>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <h2 *ngIf="basket$.length == 0">Hmm, seems like your basket is empty.</h2>
  <h2 *ngIf="basket$.length == 0">Try booking some tickets.</h2>
</ul>