<div class="container">
  <div class="col-md-12">
    <h4 class="page-head-line">Manage Seats</h4>

  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading" style="background-color:rgb(44, 196, 70)">
          <strong>Add a Seat </strong>
        </div>
        <div class=" panel-body ">
          <form>
            <div class="form-group ">
              <input type="SeatId " class="form-control " [(ngModel)]="createNewSeat.id" id="id" placeholder="Seat Id" name="id" required>
            </div>
            <div class="form-group ">
              <input type="SeatShow " class="form-control " [(ngModel)]="createNewSeat.show" id="show" placeholder="Seat Show" name="show"
                required>
            </div>
            <div class="form-group ">
              <input type="SeatPaid " class="form-control " [(ngModel)]="createNewSeat.seatPaid" id="seatPaid" placeholder="Seat Paid"
                name="seatPaid" required>
            </div>
            <div class="form-group ">
              <input type="SeatReserved " class="form-control " [(ngModel)]="createNewSeat.seatReserved" id="seatReserved" placeholder="Seat Reserved"
                name="seatReserved" required>
            </div>
            <div class="form-group ">
              <input type="SeatBookingId " class="form-control " [(ngModel)]="createNewSeat.bookingId" id="bookingId" placeholder="Seat Booking Id"
                name="bookingId" required>
            </div>
            <div class="form-group ">
              <input type="SeatUserId " class="form-control " [(ngModel)]="createNewSeat.seatUserId" id="seatUserId" placeholder="Seat User Id"
                name="seatUserId" required>
            </div>
            <button type="submit " class="btn btn-default " (click)="createNewSeat()">Submit</button>
          </form>
        </div>
      </div>


      <div class="col-md-12 ">
        <div class="panel panel-default ">
          <div class="panel-heading" style="background-color:skyblue">
            <strong>Modify a Seat </strong>
          </div>
          <div class="panel-body ">
            <form>
              <div class="form-group ">
                <input type="SeatId " class="form-control " [(ngModel)]="modifySeat.id" id="id" placeholder="Seat Id" name="id" required>
              </div>
              <div class="form-group ">
                <input type="SeatShow " class="form-control " [(ngModel)]="modifySeat.show" id="show" placeholder="Seat Show" name="show"
                  required>
              </div>
              <div class="form-group ">
                <input type="SeatPaid " class="form-control " [(ngModel)]="modifySeat.seatPaid" id="seatPaid" placeholder="Seat Paid" name="seatPaid"
                  required>
              </div>
              <div class="form-group ">
                <input type="SeatReserved " class="form-control " [(ngModel)]="modifySeat.seatReserved" id="seatReserved" placeholder="Seat Reserved"
                  name="seatReserved" required>
              </div>
              <div class="form-group ">
                <input type="SeatBookingId " class="form-control " [(ngModel)]="modifySeat.bookingId" id="bookingId" placeholder="Seat Booking Id"
                  name="bookingId" required>
              </div>
              <div class="form-group ">
                <input type="SeatUserId " class="form-control " [(ngModel)]="modifySeat.seatUserId" id="seatUserId" placeholder="Seat User Id"
                  name="seatUserId" required>
              </div>
              <button type="submit " class="btn btn-default " (click)="modifySeat()">Submit</button>
            </form>
          </div>
        </div>
      </div>
      <br>
      <div class="col-md-12 ">
        <div class="panel panel-default ">
          <div class="panel-heading" style="background-color: red ">
            <strong> Delete a Seat </strong>
          </div>
          <div class="panel-body ">
            <form>
              <div class="form-group ">
                <input type="SeatId " class="form-control " [(ngModel)]="deleteSeat.id" id="id" placeholder="Seat Id" name="id" required>
              </div>
              <button type="submit " class="btn btn-default " (click)="deleteSeat()">Submit</button>
              <button type="submit " class="btn btn-default1 " routerLink="/admin" routerLinkActive="active">Go Back Instead</button>
            </form>
          </div>
        </div>
      </div>